:host ::ng-deep  {
    .card .card-body {    
        padding-left: 20px !important;
        padding-right: 20px !important;
    }   


  .logo-center {
    display:block;
    margin:auto;
}

.wrapper {
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: calc(100vh - 20px);    
  }
    
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

