//table radio checkboxes
.radio, .checkbox {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0;
}
.checkbox input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}
.radio label, .checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    min-width: 17px;
    min-height: 17px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
}
.checkbox label {
    transition: border .2s linear 0s,color .2s linear 0s;
}
.radio label:before, .checkbox label:before {
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #d0d0d0;
}
.checkbox label:before {
    top: 1.4px;
    border-radius: 3px;
    transition: border .2s linear 0s,color .2s linear 0s;
}
input[type=radio], input[type=checkbox] {
    margin-top: 1px 0 0;
    line-height: normal;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
// .table.dataTable.no-footer {
//     border: none;
// }

// table.dataTable {
//     clear: both;
//     margin-top: 6px !important;
//     margin-bottom: 6px !important;
//     max-width: none !important;
// }
// table.dataTable td, table.dataTable th {
//     -webkit-box-sizing: content-box;
//     -moz-box-sizing: content-box;
//     box-sizing: content-box;
// }
// .table>thead>tr>td, .table>thead>tr>th {
//     line-height: 1;//1.42857143;
// }
// .table-hover tbody tr:hover td {
//     background:#f0f0f0;
// }
.table thead tr th {
    text-transform: uppercase;
    font-weight: 500;
    font-family: montserrat;
    font-size: 13px;
    letter-spacing: .06em;
    padding-top: 14px;
    padding-bottom: 14px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(230,230,230,.7);
    color: rgba(44,44,44,.35);
    border-top: none;
}
.table thead tr th:first-child {
    padding-left: 18px!important;
}
.table thead tr th[class*=sorting_]:not([class=sorting_disabled]) {
    color: #2c2c2c;
}
.table tbody tr{
  &.row-odd {
    background-color: transparent;
  }
  >td{
    border-top: 1px solid rgba(230, 230, 230, 0.7);
    font-size: 13px;
    > span.caret-right{
      display: inline-flex;
    }
}
}

//Minimal Table Pagination> Not to break fix
.pagination-pages{
  .pagination-page {
    padding: 5px 0 0 0;
  }
  
  white-space: nowrap;
  text-transform: uppercase;
    margin-top: 5px;
    font-weight: 500;
    font-family: montserrat;
    font-size: 10.5px;
    letter-spacing: .06em;
    color: rgba(44,44,44,.35);
}

@media screen and (max-width: 991px) {   
  .table tbody tr{
    &.row-odd {
      background-color: #f6f6f6;
    }
  }
      .flex-t1-tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.25em 0;
        border: 0.5px solid rgba(3, 3, 3, 0.2);
      }
      .flex-t1-th,
      .flex-t1-td {
        flex: 1 1 auto; //border: 0.5px solid rgba(3,3,3,0.2);
      }
      .flex-t1-th-1 {
        order: 1;
        width: 100%;
      }
      .flex-t1-th-2 {
        order: 2;
        width: 100%;
      }
      .flex-t1-th-3 {
        order: 3;
        width: 100%;
      }
      .flex-t1-th-4 {
        order: 4;
        width: 100%;
      }
      .flex-t1-th-5 {
        order: 5;
        width: 100%;
      }
      .flex-t1-th-6 {
        order: 6;
        width: 100%;
      }
      .flex-t1-th-7 {
        order: 7;
        width: 100%;
      }
      .flex-t1-th-8 {
        order: 8;
        width: 100%;
      }
      .flex-t1-th-9 {
        order: 9;
        width: 100%;
      }
      .flex-t1-th-10 {
        order: 10;
        width: 100%;
      }
      .flex-t1-th-11 {
        order: 11;
        width: 100%;
      }
      .flex-t1-th-12 {
        order: 12;
        width: 100%;
      }
      .flex-t1-th-13 {
        order: 13;
        width: 100%;
      }
      .flex-t1-th-14 {
        order: 14;
        width: 100%;
      }
      .flex-t1-th-15 {
        order: 15;
        width: 100%;
      }
      .flex-t1-th-16 {
        order: 16;
        width: 100%;
      }
      .flex-t1-th-17 {
        order: 17;
        width: 100%;
      }
      .flex-t1-col-1 {
        order: 1;
        width: 100%;
      }
      .flex-t1-col-2 {
        order: 2;
        width: 100%;
      }
      .flex-t1-col-3 {
        order: 3;
        width: 25%;
      }
      .flex-t1-col-4 {
        order: 4;
        width: 100%;
      }
      .flex-t1-col-5 {
        order: 5;
        width: 100%;
      }
      .flex-t1-col-6 {
        order: 6;
        width: 100%;
      }
      .flex-t1-col-7 {
        order: 7;
        width: 100%;
      }
      .flex-t1-col-8 {
        order: 8;
        width: 100%;
      }
      .flex-t1-col-9 {
        order: 9;
        width: 100%;
      }
      .flex-t1-col-10 {
        order: 10;
        width: 100%;
      }
      .flex-t1-col-11 {
        order: 11;
        width: 100%;
      }
      .flex-t1-col-12 {
        order: 12;
        width: 100%;
      }
      .flex-t1-col-13 {
        order: 13;
        width: 100%;
      }
      .flex-t1-col-14 {
        order: 14;
        width: 100%;
      }
      .flex-t1-col-15 {
        order: 15;
        width: 100%;
      }
      .flex-t1-col-16 {
        order: 16;
        width: 100%;
      }
      .flex-t1-col-17 {
        order: 17;
        width: 100%;
      }
   

    
  }

  .table-area {
    position: relative;
    z-index: 0;
    margin-top: 50px;
  }
  
  table.responsive-table {
    display: table;
    /* required for table-layout to be used (not normally necessary; included for completeness) */
    table-layout: fixed;
    /* this keeps your columns with fixed with exactly the right width */
    width: 100%;
    /* table must have width set for fixed layout to work as expected */
    height: 100%;
  }
  
  table.responsive-table thead {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    line-height: 3em;
    background: #eee;
    table-layout: fixed;
    display: table;
    @include media-breakpoint-up(lg) { 
      left: $icon-bar-width;
    }
  }
  
  table.responsive-table th {
    background: #eee;
  }
  
  table.responsive-table td {
    line-height: 1em;
  }
  
  table.responsive-table tr > td,
  table.responsive-table th {
    text-align: left;
  }

  .detailed-table {
    width: 100%;
    color: #7a8994;
     .txtalgn {
      text-align: center;
    }
   
  }