main{
    text-align: center;
    background: #f5f5f5;
    padding: 20px 0;
    border-radius: 50px;
    svg{
        width: 50px;
        height: 40px;
        stroke: black;
        fill: black;
        opacity: 0.4;
    }
}

mat-header-cell{
    font-size: larger;
}

@media(max-width: 600px) {
 .main{
    margin: 100px 15px;
 }
}

.wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 20px);    
}

.mat-column-Sno {
    flex: 0 0 100px;
}

.mat-column-OrderID {
    flex: 0 0 200px;
}

.mat-column-DealershipName {
    flex: 0 0 250px;
}