main{
    text-align: center;
    background: #f5f5f5;
    padding: 20px 0;
    border-radius: 50px;
    svg{
        width: 50px;
        height: 40px;
        stroke: black;
        fill: black;
        opacity: 0.4;
    }
}
.onboarding-card a{
    color: rgb(253, 252, 252);cursor: pointer;float: right;
}
.onboarding-card h3 {
    color: #fff;
}
.onboarding-card h4 {
    color: #fff;
}
.payments-card a{
    color: rgb(253, 252, 252);cursor: pointer;float: right;
}
.payments-card h3{
    color: #fff;
}
.payments-card h4{
    color: #fff;
}

.payments-card{
    height: 230px;background:#616684;
  
    color:#fff;
}
.onboarding-card{
    background: #1251a7;
    height: 230px;
}
.orders-card{
    height: 230px;background: #8a8fea;
}
.orders-card a{
    color: rgb(253, 252, 252);cursor: pointer;float: right;
}
.orders-card h3{
    color: #fff;
}
.orders-card h4{
    color: #fff;
}
mat-header-cell{
    font-size: larger;
}

@media(max-width: 600px) {
 .main{
    margin: 100px 15px;
 }
}

.wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 20px);    
}

.mat-column-Sno {
    flex: 0 0 100px;
}

.mat-column-OrderID {
    flex: 0 0 200px;
}

.mat-column-DealershipName {
    flex: 0 0 250px;
}