<div class="az-iconbar">
  <div class="icon-logo-container">
    <!-- <a> -->
      <!--onclick="return false;"-->
      <!-- <svg class="icon icon-hexbluelight">
        <use xlink:href="assets/images/icon-hexbluelight.svg#icon-hexbluelight"></use>
      </svg> -->
      <!-- <svg-icon src="assets/images/layers.svg"></svg-icon> -->
      <!-- <img src="assets/images/images.jfif" alt="customer-interaction-system" height="32" width="32"> -->
    <!-- </a> -->
  </div>
  <!-- <nav *ngIf="boolDataLoaded" class="nav" id="side-nav" routerLinkActive="on-active">
    <a *ngFor="let appModule of navModules" class="nav-link" id="icon-mod{{appModule.id}}"
    (click)="showMenu($event,'mod'+appModule.id)" (mouseenter)="showMenu($event,'mod'+appModule.id)">
      <svg-icon src="{{appModule.icon}}"></svg-icon>
    </a>
  </nav> -->

  <!-- nav-icon -->
  <nav *ngIf="boolDataLoaded && navOpenStyle==true; else showNavOpenStyle" class="nav" id="side-nav"
    routerLinkActive="on-active">
    <a *ngFor="let appModule of navModules" class="nav-link" id="icon-mod{{appModule.id}}"
      (mouseenter)="showMenu($event,'mod'+appModule.id)">
      <svg-icon src="{{appModule.icon}}"></svg-icon>
    </a>
  </nav>

  <ng-template #showNavOpenStyle>
    <nav *ngIf="boolDataLoaded" class="nav" id="side-nav" routerLinkActive="on-active">
      <a *ngFor="let appModule of navModules" class="nav-link" id="icon-mod{{appModule.id}}"
        (click)="showMenu($event,'mod'+appModule.id)">
        <svg-icon src="{{appModule.icon}}"></svg-icon>
      </a>
    </nav>
  </ng-template>
  <!-- nav-icon -->

  <!-- logout Start -->
  <div class="az-iconbar-bottom">
    <a (click)="logout()">
      <svg class="icon-logout">
        <use xlink:href="assets/images/icon-logout.svg#icon-logout"></use>
      </svg>
      <br><br>
    </a>
  </div>
  <!-- logout End -->

</div>

<!-- nav-icon onclick-->
<div #aside class="az-iconbar-aside">
  <div class="az-iconbar-header">
    <img src="assets/images/gc.png" alt="customer-interaction-system">
    <!--onclick="return false;"-->
    <a (click)="clickClose($event,false)">
      <svg class="iconclose icon-cross">
        <use xlink:href="assets/images/icon-cross.svg#icon-cross"></use>
      </svg>
    </a>
  </div>
  <div class="az-iconbar-body">
    <div *ngFor="let appModule of navModules" id="mod{{appModule.id}}" class="az-iconbar-pane">
      <h6 class="az-iconbar-title">{{appModule.name}}</h6>
      <!-- <small class="az-iconbar-text">{{appModule.desc}}</small> -->
      <nav class="nav">

        <a filterClose routerLink="{{subModule.route}}" routerLinkActive="on-active" [routerLinkActiveOptions]="{exact:
          true}" (click)="modClose($event, true, appModule.id)" *ngFor="let subModule of appModule.sub_modules"
          class="nav-link">
          {{subModule.name}}
        </a>
      </nav>

      <div *ngFor="let subheading of appModule.sub_heading" >
        <h6 class="az-iconbar-title">{{subheading.name}}</h6>
        <!-- <small class="az-iconbar-text">{{appModule.desc}}</small> -->
        <nav class="nav" *ngFor="let subHeadingData of subheading.sub_heading_data">
          <a filterClose routerLink="{{subHeadingData.route}}" routerLinkActive="on-active" [routerLinkActiveOptions]="{exact:
            true}" (click)="modClose($event, true, appModule.id)"
            class="nav-link">
            {{subHeadingData.name}}
          </a>
        </nav>
      </div>

    </div>


  </div>
</div>
<!-- nav-icon onclick-->
