:host ::ng-deep {
  .az-iconbar-title {
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 1;
    font-family: montserrat;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.06em;
    font-size: 12px;
    color: #212529 !important;
}
h6 {
  margin: 25px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
  color: #373e43;
}
.az-iconbar-body .nav {
  flex-direction: column;
  padding-top: 0px;
  padding-left: 10px;
}
}
