<div class="container-fluid">
  <div class="table-container">
    <div class="card card-bordered fullheight-min">      
      <div class="card-body">
        
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" autocomplete="false" (keyup)="applyFilter($event.target.value)" matInput placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>          
        </form>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Dealership Name Column -->
        <ng-container matColumnDef="dealership_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dealership Name </th>
          <td mat-cell *matCellDef="let element"> {{element.dealership_name}} </td>
        </ng-container>
      
        <!-- Distributor Name Column -->
        <ng-container matColumnDef="distributor_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Distributor Name </th>
          <td mat-cell *matCellDef="let element"> {{element.distributor_name}} </td>
        </ng-container>
      
        <!-- City/District Column -->
        <ng-container matColumnDef="city_district">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> City/District </th>
          <td mat-cell *matCellDef="let element"> {{element.city_district}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>

        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
          <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
        </ng-container>
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>


  </div>
  </div>
  </div>

  </div>