<div class="container-fluid">
  <div class="table-container">
    <div class="card card-bordered fullheight-min">      
      <div class="card-body">
        
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" autocomplete="false" (keyup)="applyFilter($event.target.value)" matInput placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>          
        </form>

      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
          </ng-container>
      

          <ng-container matColumnDef="dealership_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Dealership Name </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="dealership_name"> {{row.dealership_name}} </mat-cell>
          </ng-container>
      

          <ng-container matColumnDef="distributor_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Distributor Name </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="distributor_name"> {{row.distributor_name}} </mat-cell>
          </ng-container>
      

          <ng-container matColumnDef="city_district">
            <mat-header-cell *matHeaderCellDef mat-sort-header> City/District </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="city_district"> {{row.city_district}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="state"> {{row.state}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="contact"> {{row.contact}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>


  </div>
  </div>
  </div>

  </div>