table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}


::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;  
}



.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row  {
    flex-direction: column;
    align-items: start;
    padding: 8px;
  }

  .mat-header-cell{
    font-weight: 500;    
    font-size: 13px;
    letter-spacing: .06em;
    color: #000;
    text-transform: uppercase;
    padding-left: 0px;   
    width: 100%;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    box-sizing: border-box;
  }

  .mat-cell{
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .06em;
    color: #7a8994;
    text-transform: uppercase;
    padding-left: 0px;
    width: 100%;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    box-sizing: border-box;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px;
    background-color: #f6f6f6;
  }
}

.wrapper {
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: calc(100vh - 20px);    
  }

  
  .mat-column-Call {
    flex: 0 0 100px;
  }  