
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SCCI-primary: mat-palette($mat-indigo);
$SCCI-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SCCI-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$SCCI-theme: mat-light-theme($SCCI-primary, $SCCI-accent, $SCCI-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SCCI-theme);

/*
* Azia v1.0.0 (https://themepixels.me/azia)
* Copyright 2018 ThemePixels
* Licensed under ThemeForest License
*
*
* ------ Table Of Contents -------
*
*   1. FONTS IMPORT
*   2. BOOTSTRAP FRAMEWORK
*   3. BOOTSTRAP OVERRIDES
*      3.1  Accordion
*      3.2  Alerts
*      3.3  Buttons
*      3.4  Cards
*      3.5  Dropdown
*      3.6  Forms
*      3.7  Grid
*      3.8  Input Groups
*      3.9  Modal
*      3.10 Nav
*      3.11 Pagination
*      3.12 Popover
*      3.13 Progress
*      3.14 Table
*      3.15 Tooltip
*   4. CUSTOM VENDOR STYLES
*      4.1  Datatables
*      4.2  Datepicker
*      4.3  jQuery Steps
*      4.4  jQVMap
*      4.5  Morris
*      4.6  Parsley
*      4.7  Quill
*      4.8  RangeSlider
*      4.9  Perfect Scrollbar
*      4.10 Select2
*      4.11 Spectrum
*   5. CUSTOM ELEMENTS STYLES
*      5.1  Buttons
*      5.2  Charts
*      5.3  Forms
*      5.4  Image
*      5.5  List
*      5.6  Modal
*      5.7  Nav
*   6. PAGE LAYOUT STYLES
*      6.1  Content
*      6.2  Footer
*      6.3  Global
*      6.4  Header
*      6.5  Iconbar
*      6.6  Navbar
*      6.7  Navbar Variant
*      6.8  Sidebar
*   7. TEMPLATE STYLES
*      7.1  Demo
*      7.2  Calendar
*      7.3  Chat
*      7.4  Contacts
*      7.5  Invoice
*      7.6  Mail
*      7.7  Profile
*      7.8  Signin
*      7.9  Signup
*      7.10 Error
*   8. DASHBOARD STYLES
*      8.1  Dashboard One
*      8.2  Dashboard Two
*      8.3  Dashboard Three
*      8.4  Dashboard Four
*      8.5  Dashboard Five
*      8.6  Dashboard Six
*      8.7  Dashboard Seven
*      8.8  Dashboard Eight
*      8.9  Dashboard Nine
*      8.10 Dashboard Ten
*   9. UTILITIES/HELPER CLASSES
*      9.1  Background
*      9.2  Border
*      9.3  Height
*      9.4  Margin
*      9.5  Misc
*      9.6  Padding
*      9.7  Position
*      9.8  Typography
*      9.9  Width
*
*/


/* ############### FONTS IMPORT ############### */
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
// @import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700');

// Bootstrap variable overrides cum app variables
// // @import "bootstrap/variables";
// // @import "bootstrap/mixins";
@import "app/variables";

/* ############### BOOTSTRAP FRAMEWORK ############### */
//@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
//@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
//@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
//@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
//@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
//@import "../../node_modules/bootstrap/scss/tooltip";
//@import "../../node_modules/bootstrap/scss/popover";
//@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";

//App styles
@import "app/base";
@import "app/iconbar";

@import "app/header";
@import "app/alert";
@import "app/table";
@import "app/filter";
@import "app/feature";
@import "app/cards";
@import "app/progress_indicators";
@import "app/notifications.scss";
@import "app/form"

// Custom variables and mixins
// // @import "custom/variables";
// // @import "custom/mixins";

/* ########## BOOTSTRAP OVERRIDES ########## */
// @import "bootstrap/accordion";
// @import "bootstrap/alerts";
// @import "bootstrap/buttons";
// @import "bootstrap/cards";
// @import "bootstrap/dropdown";
// @import "bootstrap/forms";
// @import "bootstrap/grid";
// @import "bootstrap/input-group";
// @import "bootstrap/modal";
// @import "bootstrap/nav";
// @import "bootstrap/pagination";
// @import "bootstrap/popover";
// @import "bootstrap/progress";
// @import "bootstrap/table";
// @import "bootstrap/tooltip";

/* ############### CUSTOM VENDOR STYLES ############### */
// @import "lib/datatables";
// @import "lib/datepicker";
// @import "lib/jquery-steps";
// @import "lib/morris";
// @import "lib/parsley";
// @import "lib/jqvmap";
// @import "lib/quill";
// @import "lib/rangeslider";
// @import "lib/scrollbar";
// @import "lib/select2";
// @import "lib/spectrum";

/* ############### CUSTOM ELEMENT STYLES ############### */
// @import "custom/buttons";
// @import "custom/charts";
// @import "custom/forms";
// // @import "custom/image";
// @import "custom/list";
// @import "custom/modal";
// @import "custom/nav";
// // @import 'custom/app/_base.scss';
// // @import 'custom/app/_page-view.scss';
// // @import 'custom/app/_other-components.scss'; 
// // @import 'custom/app/_card-and-form.scss';
//@import 'custom/app/_sidebar.scss';
//@import 'custom/app/_aside.scss';

/* ############### PAGE LAYOUT STYLES ############### */
//@import "layout/content";
// // @import "layout/footer";
// // @import "layout/global";
// // @import "layout/header";
// // @import "layout/iconbar";
//@import "layout/navbar";
// @import "layout/navbar-variant";
//@import "layout/sidebar";

/* ############### TEMPLATE STYLES ############### */
//@import "template/demo";

// @import "template/calendar";
// @import "template/chat";
// @import "template/contacts";
// @import "template/invoice";
// @import "template/mail";
// @import "template/profile";
// @import "template/signin";
// @import "template/signup";
// @import "template/error";

/* ############### DASHBOARD STYLES ############### */
// @import "template/dashboard-one";
// @import "template/dashboard-two";
// // @import "template/dashboard-three";
// @import "template/dashboard-four";
// @import "template/dashboard-five";
// @import "template/dashboard-six";
// @import "template/dashboard-seven";
// @import "template/dashboard-eight";
// @import "template/dashboard-nine";
// @import "template/dashboard-ten";

/* ############### UTILITIES/HELPER CLASSES ############### */
// @import "util/background";
// @import "util/border";
// @import "util/height";
// @import "util/margin";
// @import "util/misc";
// @import "util/padding";
// @import "util/position";
// @import "util/typography";
// @import "util/width";

// // @import 'custom/app/_filter.scss';

