.dropdown-list{
    min-width: 300px;
    text-align: right;
    .txt-user-details{
        font-weight: 500;
    }
}
.type-user {
    margin-top: 2px;
}
b{
    font-size: 15px;
}
.text_L{
    text-align: left;

}
.user-area {
    position: absolute;
    left: 90px;
    width: calc(100% - 100px);
    padding: 5px;
    text-align: center;
  }

.heading-block{
  padding-top: 20px;
  color: white;
  text-align: left;
  display:unset;  
  text-transform: unset;
}

@media(max-width: 600px) {
.heading-block{
    padding-top: 0px;
    }
}
